body, html{
	width: 100%;
	height: 100%;
}

body {
	color: white;
	background: #2118D4;
	font-family: Open Sans, Helvetica, sans-serif;
	margin: 0;
	font-size: 18px;
	padding: 0;
	padding-top: 50px;
}

footer {
	border-top: 1px solid #ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-top: 40px;
}

a,
a:visited {
	color: #46b5ff;
	text-decoration: underline;
}

a:hover,
a:focus {
	color: #467eff;
	text-decoration: none;
}

label{
	display: block;
}

input{
	width: 100%;
	padding: 0;
	font-size: 18px;
	margin: 0;
	border: none;
}

input[type="email"]{
	padding: 10px;
}

input[type="submit"]{
	display: block;
	height: 38px;
	cursor: pointer;
	background: url(/assets/images/bg-overlay-pattern.png);
	color: #2118D4;
}

.container {
	max-width: 768px;
}

.mc-field-group label{
	padding-bottom: 5px;
}

.mc-field-group span{
	display: block;
	overflow: hidden;
	padding-bottom: 10px;
}

#social_icon_list{
	font-size: 50px;
}

#social_icon_list ul,
#social_icon_list li{
	margin: 0;
	padding: 0;
	list-style: none;
}

#social_icon_list li {
	display: inline;
}

.hidden {
	position: absolute;
	font-size: 0;
	line-height: 0;
	letter-spacing: 0;
	left: -9999px;
	top: -9999px;
}

.lead-text {
	padding-top: 15px;
}

h1 {
	color: #46b5ff;
	font-weight: bold;
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
}

h2 {
	padding: 8px 15px 8px 15px;
	background: url(/assets/images/bg-overlay-pattern.png);
	color: #2118D4;
	font-size: 1.6em;
}

h3 {
	font-size: 18px;
	font-weight: bold;
	padding-top: 15px;
}

.brand {
	margin-bottom: 25px;
}

.brand .logo {
	width: 100%;
	height: auto;
}

.logo-github {
	background-image: url(/github-mark+logo-white-with-bg.svg);
	background-repeat: no-repeat;
	height: 46px;
	width: 148px;
	/*border: 1px solid red;*/ /*var likt background*/
	margin: 3px 0px 0px 3px;
	display: inline-block;
	vertical-align: top;
	text-indent: -9876px;
}

.logo-github:hover {
	background-image: url(/github-mark+logo-white-bg.svg);
}

.aligned {
	text-align: left;
	font-size: 0;
}

.aligned h3 {
	background: url(/bg-overlay-pattern.png);
	margin: 3px 0 0 3px;
	padding: 0;
	height: 46px;
	width: 148px;
	color: #2118D4;
	display: inline-block;
	text-align: center;
	line-height: 46px;
}

.author {
	background: url(/bg-overlay-pattern.png);
	text-align: center;
	line-height: 46px;
	height: 46px;
	width: 46px;
	font-size: 14px;
	font-weight: bold;
	color: #2118D4;
	margin: 3px 0 0 3px;
	display: inline-block;
	vertical-align: top;
}

.options {
	margin-top: 25px;
	margin-bottom: 10px;
}

.options a {
	text-decoration: none;
}

.ico {
	line-height: 1;
	text-align: center;
	width: 100%;
}

.primary.options .ico {
	font-size: 75px;
}

.secondary.options .ico {
	font-size: 50px;
}

.option {
	color: #46b5ff;
}

.option .instructions {
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 10px;
	font-size: 12px;
}

.option .inner {
	border-left: 2px solid #467eff;
	padding: 10px;
	margin-bottom: 15px;
}

.option h3 {
	text-align: center;
	margin: 0;
	margin-top: 5px;
	padding: 0;
}

.option p {
	font-size: 12px;
	text-align: center;
	margin-top: 10px;
}

.option a {
	text-decoration: none;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

@media (max-width: 768px) {
	.margin {
		margin: 40px auto;
		padding-left: 15px;
		padding-right: 15px;
		max-width: 700px;
	}
}
